In [ ]:
import pandas as pd 
df = pd.read_csv('Speed Dating Data.csv', encoding='latin1')

## 年齢差カラムを追加

In [3]:
# 年齢差（相手の年齢 - 自分の年齢）のカラムを追加
df['age_diff'] = df['age_o'] - df['age']
df[['age_o', 'age', 'age_diff']].head()

   age_o   age  age_diff
0   27.0  21.0       6.0
1   22.0  21.0       1.0
2   22.0  21.0       1.0
3   23.0  21.0       2.0
4   24.0  21.0       3.0

## ラベルを保持するカラムをワンホットエンコードする。

### 人種をワンホット化

In [4]:
# race, race_o のワンホットエンコーディングカラムを追加
race_labels = {
    1: 'black',
    2: 'white',
    3: 'latino',
    4: 'asian',
    5: 'native',
    6: 'other'
}

for code, label in race_labels.items():
    df[f'race_{label}'] = (df['race'] == code).astype(int)
    df[f'race_{label}_o'] = (df['race_o'] == code).astype(int)

# 追加したカラムの先頭5行を表示
df[[f'race_{label}' for label in race_labels.values()] + 
   [f'race_{label}_o' for label in race_labels.values()]].head()

,race_black,race_white,race_latino,race_asian,race_native,race_other,race_black_o,race_white_o,race_latino_o,race_asian_o,race_native_o,race_other_o
0,0,0,0,1,0,0,0,1,0,0,0,0
1,0,0,0,1,0,0,0,1,0,0,0,0
2,0,0,0,1,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,1,0,0,0,0
4,0,0,0,1,0,0,0,0,1,0,0,0

### 専攻をワンホット化

In [5]:
# field_cd のワンホットエンコーディングカラムを追加
field_labels = {
    1: 'law',
    2: 'math',
    3: 'social_science',
    4: 'medical_science',
    5: 'engineering',
    6: 'english',
    7: 'history',
    8: 'business',
    9: 'education',
    10: 'science',
    11: 'social_work',
    12: 'undergrad',
    13: 'politics',
    14: 'film',
    15: 'fine_arts',
    16: 'languages',
    17: 'architecture',
    18: 'other'
}

for code, label in field_labels.items():
    df[f'field_{label}'] = (df['field_cd'] == code).astype(int)

# 追加したカラムの先頭5行を表示
df[[f'field_{label}' for label in field_labels.values()]].head()

,field_law,field_math,field_social_science,field_medical_science,field_engineering,field_english,field_history,field_business,field_education,field_science,field_social_work,field_undergrad,field_politics,field_film,field_fine_arts,field_languages,field_architecture,field_other
0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

### 将来の職業をワンホット化

In [ ]:
# career_c のワンホットエンコーディングカラムを追加
career_labels = {
    1: 'lawyer',
    2: 'academic_research',
    3: 'psychologist',
    4: 'doctor_medicine',
    5: 'engineer',
    6: 'creative_arts_entertainment',
    7: 'business_related',
    8: 'real_estate',
    9: 'international_humanitarian',
    10: 'undecided',
    11: 'social_work',
    12: 'speech_pathology',
    13: 'politics',
    14: 'pro_sports_athletics',
    15: 'other',
    16: 'journalism',
    17: 'architecture'
}

for code, label in career_labels.items():
    df[f'career_{label}'] = (df['career_c'] == code).astype(int)

# 追加したカラムの先頭5行を表示
df[[f'career_{label}' for label in career_labels.values()]].head()

,career_lawyer,career_academic_research,career_psychologist,career_doctor_medicine,career_engineer,career_creative_arts_entertainment,career_business_related,career_real_estate,career_international_humanitarian,career_undecided,career_social_work,career_speech_pathology,career_politics,career_pro_sports_athletics,career_other,career_journalism,career_architecture
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0